#This is a comment

burnin_method = SQUARE
burnin_num_events = 1000
burnin_distance_thresh = 12
outlier_factor = 1.25
blur_amount = 1.8
cluster_min_sigma = 3.2
cluster_max_sigma = 300
cluster_min_size = 6
cluster_min_dist = 3600

range_algorithm = 1 
phi_algorithm = 2

north_angle = 240
longitude = -71.110556
latitude = 42.373611

cameras_orientation_top = 0
cameras_orientation_bottom = 1

mc = 0
nokill = 0

sat_thresh = 55000
n_sat_thresh = 4

channel_ids = top,bottom,mesh_top,mesh_bottom
nbaseline = 25
nblur = 1
invert_waveform = 0

gain_map_file = /net/mitdm01/data01/cozzyd/projects/DarkMatter/AnalysisFramework/v4/gainmap/wr5_gainmaps.root

cluster_blur_radius = 3 
cluster_thresh_ring_ratio = 0.7
cluster_max_wrong_prob = 1e-19
cluster_min_threshold = 0.67 
cluster_seed_threshold = 4.8 
cluster_neighbors_threshold_for_filling = 6
cluster_min_neighbors_to_keep_pixel = 2
cluster_join_min_rxy_cluster = 0.8 
cluster_join_min_rxy_global = 0.65
cluster_join_max_join_residual = 5 
cluster_join_least_squares_weight = 2



