#This is a comment

burnin_method = SQUARE
burnin_num_events = 1000
burnin_distance_thresh = 12
outlier_factor = 1.25

range_algorithm = 1 
phi_algorithm = 2

north_angle = 240
longitude = -71.110556
latitude = 42.373611

cameras_orientation_top = 081013,100534
#081013,100534,110121,A80334

mc = 0 
nokill = 0

sat_thresh = 55000
n_sat_thresh = 4

channel_ids = mesh, anode, veto, pmt0, pmt1, pmt2
channel_types = fast,csp,csp,pmt,pmt,pmt
nbaseline = 25
nblur = 1

overscan_spark_cut = 081013:3.8517,100534:-2.8105
#081013:3.8517,100534:-2.8105,110121:-1.1806,A80334:1e6
spark_cut = 081013:1.013,100534:1.013
#081013:1.013,100534:1.013,110121:1.018,A80334:1.01

cluster_find_algo = seed
cluster_min_size = 16
cluster_find_seed_blur_radius = 4 
blur_amount = 2 
cluster_find_seed_thresh_ring_ratio = 0.75
cluster_find_seed_max_wrong_prob = 1e-33
cluster_find_seed_min_threshold = 0.75
cluster_find_seed_seed_threshold = 5.2
cluster_neighbors_threshold_for_filling = 4
cluster_min_neighbors_to_keep_pixel = 2
cluster_join_min_rxy_cluster = 0.8 
cluster_join_min_rxy_global = 0.65
cluster_join_max_join_residual = 5 
cluster_join_least_squares_weight = 2
cluster_min_dist = 3600

cluster_red_threshold = 2.8

# don't have a gain map for the 4-shooter images
#gain_map_file = gainmap/wr5_gainmaps.root
